
/*------------------------------- Start : ตั้งค่าเริ่มต้นสำหรับ Body---------------------------- */
body {
    font-family: Arial, sans-serif;
    background-color: #fcfafa;
    border: 1px solid #666565;    
    width: 1025px;
    height: 1500px;
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;   /* <-- ให้เรียงเป็นคอลัมน์ */
    align-items: center;
    
}

/*------------------------------- End : ตั้งค่าเริ่มต้นสำหรับ Body----------------------------- */

/*------------------------------- Start : ในส่วน Header --------------------------------- */
header {
    background-color: #f8f9fa;
    border: 0px solid #080808; 
    padding: 0px;
    width: 100%;
    height: 64px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

header .logo_header {
    background-color: #f7f8f8;
    border: 0px solid #080808; 
    padding-left: 24px;
    width: auto;
    height: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

.logo_header img {
    width: auto;
    height: 45px;
    display: block;
    object-fit: contain;
    list-style: 0;
}

header .n_comany_1 {
    background-color: #fcfcfc;
    border: 1px solid #080808; 
    padding-left: 0%;
    width: auto;
    height: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #444446;
    font-size: 24px;
}

header .n_comany_2 {
    background-color: #fcfcfc;
    border: 1px solid #080808; 
    padding-left: 0%;
    width: auto;
    height: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: #c5c5c5;
    font-size: 24px;
}

nav {
    background-color: #f7f8fa;
    border: 1px solid #080808; 
    padding: 0px;
    width: 50%;
    height: 64px;
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: right;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0 24px 0 0;
    gap: 16px;
    box-sizing: border-box;
}
nav ul li {
           
    box-sizing: border-box;

}
nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 0px 0px;
    display: block;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #333333;
}
 /*------------------------------- End : ในส่วน Header --------------------------------- */


 /*------------------------------- Start : ในส่วน Content_1 --------------------------------- */
.content_1 {
    background-color: #f7f8fa;
    border: 1px solid #080808; 
    padding: 0px;
    width: 1025px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin-top: 16px;
}

.content_1 .content_1-1 {
    background-color: #f7f8fa;
    border: 1px solid #080808; 
    padding: 32px 24px 32px 24px;
    width: 60%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.content_1 .content_1-1 img {
  width: 615px;    
  height: auto;
  max-width: 100%;
  display: block;
}   

.content_1 .content_1-2 {
    background-color: #f7f8fa;
    border: 1px solid #080808; 
    padding: 0px;
    width: 35%;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: stretch;
    
}.content_1 .content_1-2 .content_1-2-1 {
    background-color: #f7f8fa;
    border: 1px solid #080808; 
    padding: 0px;
    width: auto;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content_1 .content_1-2 .content_1-2-2 {
    background-color: #f7f8fa;
    border: 1px solid #080808; 
    padding: 0px;
    width: auto;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content_1 .content_1-2 .content_1-2-3 {
    background-color: #f7f8fa;
    border: 1px solid #080808; 
    padding: 0px;
    width: auto;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



 /*------------------------------- End : ในส่วน Content_1 ----------------------------------- */